*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{ color: rgb(4, 10, 4);
    background-color: #2B5D8B;
    height: 150px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    width: 100%;
    margin: 0 auto;
    

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2B5D8B;
    padding-right: 30px;
    padding-left: 30px;
    
}




.navigation {
    display: flex;
    align-items: center;
}

.navigation input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
}

.navigation button {
        background-color: #003A63;
        color: white;
        border: 1px solid #FCA311;
        padding: 10px 20px;
        margin-left: 10px;
        cursor: pointer;
        border-radius: 5px;
    }
    
    .navigation :hover {
        background-color: #FCA311;
        color: #003A63;
    }

.login-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.illustration img {
    max-width: 400px;
    height: auto;
}

.login-form {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    color: #FFB36C;
    margin-bottom: 20px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-form button {
    background-color: #FFB36C;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.login-form a {
    color: #2B5D8B;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

.login-form p {
    margin-top: 20px;
    font-size: 14px;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2B5D8B;
}
